body {
    font-family: Arial, sans-serif;
  }
  
  #Calculatrice {
    width: 300px;
    margin: 20px auto;
    background-color: #3d74b8;
    border-radius: 5px;
    padding: 10px;
  }
  
  table {
    margin-bottom: 10px;
    background-color: #ab2424;
  }
  
  td {
    padding: 5px;
  }
  
  button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #e6e6e6;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #d9d9d9;
  }
  
  #affichage {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 10px;
  }
  header {
    background-color: #7a6c72;
    color: #fff;
    padding: 10px;
  }
  
  h1 {
    background-color: #392a9d;
    margin: 0;
    font-size: 2rem;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }